body {
    background-color: #F5F5F5;
}

#carouselExampleCaptions {
    margin: 80px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.contact-info {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.contact-info li a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.fa {
    font-size: 20px;
    color: #fff;
}

#myBlock {
    margin: 80px; 
    letter-spacing: 5px; 
    font-family:'Segoe UI', sans-serif; 
    font-weight: 600px; 
    font-size: larger; 
    line-height: 1.8;
} 

h6 {
    margin-left: 10px;
    margin-right: 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FFAE6D;
} 

.nav  li  a {
    color: #ff0033e1;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.nav  li  a:hover { 
    color: #e14e6be1;
} 

#sign_in {  
    position:absolute;
    right:0;
    font-size: 40px; 
    color: #3A4F7A;  
    margin: 8px 20px 8px 2px;  
    cursor: pointer;
} 

#sign_in:hover {
    opacity: 0.5;
} 

#sign_out { 
    position:absolute;
    right:0;
    font-size: 40px; 
    color: #3A4F7A;  
    margin: 8px 20px 8px 2px;  
    cursor: pointer;
} 

#sign_out:hover {
    opacity: 0.5;
}