    body {
        background-color: #F5F5F5;
    }
    
    h3{
    text-align: center;
    font-family:'Tilt Prism';
    text-shadow: 1px 1px;
    color: #3C4048;
    }

    .fa {
        margin: 40; 
        color: #E90064;
    } 
    
    .fa:hover {
        opacity: 0.6;
        cursor: pointer;
    } 

    .card {
        display: flex; 
        align-items: center;
        justify-content: center; 
        box-shadow: 2px 2px;
        border: 1px solid #ddd;
        border-radius: 4px; 
        padding: 16px;
        margin: 16px 16px 30px; 
        max-height: 600px;
        width: 50%;
    }

    .card h2 {
        font-size: 30px;
        font-family: monospace;
        font-weight: bold;
    }

    .container { 
        border: 1px solid #ddd;
        border-radius: 4px; 
        padding: 16px; 
        width: 90%;
        margin-bottom: 10px;
    }

    .container p {
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .card img {
        display: flex;
        width: 90%;
        height: 80%;
    }
    .container p:last-child {
        font-weight: bold;
    } 

    #product-list {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px;
    } 

    #similar-products {
        display: flex; 
        flex-wrap: wrap;
        align-items: center; 
        justify-content: center; 
        margin: 16px
    } 

    h5 {
        display: flex; 
        align-items: center; 
        justify-content: center; 
        margin: 16px; 
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        color: #968925; 
        font-weight: bold;
    }
    .slides {
        display: inline; 
        align-items: center;
        justify-content: center;
        border: 2px #bbb; 
        margin-bottom: 50px;
    } 

    .slides img {
        max-height: 200px; 
        max-width: 200px; 
        margin: 5px; 
        border-radius: 5px; 
        cursor:grab
    } 

    .slides img:hover { 
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
    } 

    .previous {
        font-size: 50px;
        color: #D4D925; 
        margin-bottom: 70px;
    }
    
    .next {
        font-size: 50px;
        color: #D4D925;
        margin-bottom: 70px;
    }
    
    .round {
        border-radius: 50%;
    }  

    .previous:hover {
        color: #afb178;
    } 

    .next:hover {
        color: #afb178;
    }

    #album {
        display: flex; 
        flex-wrap: wrap; 
        align-items: center;
        justify-content: center;
    }